<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Personal Portfolio</title>
  <meta name="Description" content="Ian Agpawa's portfolio">
  <meta name="author" content="Ian Agpawa">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id='all'>



  
<div id='body-div' class="site-wrap">
    <nav id="fixed-side-nav">
      
    <div id='side-Nav' class="s-nav">
      <ul>
        <li class="nav-li n-link" role="presentation">
          <i id="close-btn" class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </li>
        <li class="nav-li h-li" role="presentation" >
          <%= link_to "Home", root_path, :class => "n-link", :id => "page-link" %>
        </li>
        <li class="nav-li h-li" role="presentation">
          <%= link_to "Resume", pages_resume_path, :class => "n-link", :id => "resume-link" %> 
        </li>
        
        
      </ul>
    </div>
  </nav>

<%= yield %>
</div>
</body>
</html>
