<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Personal Portfolio</title>
  <meta name="Description" content="Ian Agpawa's portfolio">
  <meta name="author" content="Ian Agpawa">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id='all'>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav">
        <li class="listing" role="presentation" style="float:left" id="page-link">
          <%= link_to "Ian Agpawa", root_path, style: 'color:#FFFFFF;' %>
        </li>
        <li class="listing" role="presentation" style="float:right" id="resume-link">
          <%= link_to "Resume", pages_resume_path, style: 'color:#FFFFFF;' %> 
        </li>


        
      </ul>
    </div>
  </nav>
<div id='body-div'>
<%= yield %>
</div>
</body>
</html>
