<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Personal Portfolio</title>
  <meta name="Description" content="Ian Agpawa's portfolio">
  <meta name="author" content="Ian Agpawa">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id='all'>



  
<div id='body-div' class="site-wrap">
    <nav id="fixed-side-nav">
      
    <div id='side-Nav' class="s-nav">
      <ul>
        <li class="nav-li n-link" role="presentation">
          <i id="close-btn" class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </li>
        <li class="nav-li h-li" role="presentation" >
          <div class="dropdown">
            <%= link_to "Home", root_path, :class => "n-link", :id => "page-link" %>
            <div class="dropdown-content">
              <a href="#secondpage" class="nav-drop n-link home-drop">Portfolio</a>
              <a href="#thirdpage" class="nav-drop n-link home-drop">About</a>
              <a href="#music" class="nav-drop n-link home-drop">Music</a>
              <a href="#contact" class="nav-drop n-link home-drop">Contact</a>
            </div>
          </div>
        </li>
        
        <li class="nav-li h-li" role="presentation">
          <div class="dropdown">
          <%= link_to "Resume", pages_resume_path, :class => "n-link", :id => "resume-link" %> 
          <div class="dropdown-content">
            <a href="#experience" class="nav-drop n-link resume-drop">Experience</a>
            <a href="#education" class="nav-drop n-link resume-drop">Education</a>
            <a href="#courses" class="nav-drop n-link resume-drop">Courses</a>
            <a href="#projects" class="nav-drop n-link resume-drop">Projects</a>
          </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

<%= yield %>
</div>
</body>
</html>
